.chat-main
  .chat-main__group-info
    .chat-main__group-info__group-in
      .chat-main__group-info__groupitira
        name
      .chat-main__group-info__mememe
        nane
  .message
    .message-list
      .message-list__messagelliki
        .message-list__messagelliki__messageiki masa
        .message-list__messagelliki__messaged 2019/11/20(Wed) 17:43:01
      .message-list__messoha おはよう
  .message-form
    .form
      .form__contents
        %input{type: "text", class: "form__contents__inputContent"}
        %label{class: "form__contents__inputImage"}
          = icon('fas', 'image')
          %input{type: "file", class:"Hidden"}
      %input{type: "submit", class: "form__submit", "value": "送信"}